<p style="font-weight: bold;">Hi <%= ApplicationHelper::COPY_EMAIL %>,</p>

<p>
	<%= @user.full_name %> has signed up for an account on earpuff with email <%= @user.email %>.
	You can activate their account at: <a href="http://www.earpuff.com/admin/approve_users">http://www.earpuff.com/admin/approve_users</a>
</p>

<p style="font-weight: bold;">- Team EarPuff&trade;</p>