<center><img src="/images/logo.png" alt="Logo"></center>
<br>

<p>You've reached earpuff.com "Audio that feels and sounds great and is good for you!"&trade;</p>
<p>We're in Stealth mode "In the Service of Sound."&trade;</p>
<p>Please login or create your login to purchase EarPuff&trade;.<p>

<p>OEM Customers, Resellers and Partners please login by clicking the link above.  Others please contact as at info (at) earpuff.com</p>

<hr>

<p>The Taida EarPuff&trade; line of Audio products are the most exciting innovations in headset interface comfort and sound improvement in  years. Our line of products include:</p>
<ul>
	<li>EarPuff™ for in-ear headphone products</li>
	<li>TaidaTOP™ for over-the-ear or on-the-ear products</li>
	<li>EarSeq™ to run in Sequence with the EarPuff and TOP products and provide a custom fit to each OEM product nozzle or earpiece</li>
	<li>And TAP™(Taida Audio Processing), software that has been invented and especially formulated by the former CTO of SRS Labs to increase performance of consumer grade audio drivers without increasing the SPL (volume).</li>
</ul>

<p>EarPuff&trade; is available today for volume shipments within 30 days.  Please order samples by clicking on our Order Link or contact sales@earpuff.com for a quote.</p>