<p style="font-weight: bold;">Hi <%= @user.full_name %>,</p>

<p>
	Your order of <%= @description %>&trade; was received, and your card will be charged $<%= @amount %>.
</p>

<p style="font-weight: bold;">- Team EarPuff&trade;</p>